<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TTAttributedDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5EA0A091D7D50120071459C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5EA0A221D7D50120071459C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5EA0A2D1D7D50120071459C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
